
Client/node_modules/
backend/node_modules/


Client/dist/
Client/build/

backend/dist/
*.log

npm-debug.log*

.env
.vscode/

.idea/
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled folders
project_ws/build/
project_ws/install/
project_ws/log/

# Editors
**/.idea
**/.vscode