<div class="fixed inset-0 bg-black bg-opacity-50 flex flex-col lg:flex-row justify-between gap-8 overflow-y-auto p-4 sm:p-8">
  <div class=" p-8 rounded-lg  w-full max-w-3xl text-center">
    <h1 class="text-4xl text-gray-950 font-bold mb-6">Simulation Control</h1>

    

    <!-- Conditionally Render MapComponent or OctomapComponent -->
    <ng-container *ngIf="!is3DView">
      <app-map class="mb-8"></app-map>
    </ng-container>
    <ng-container *ngIf="is3DView">
      <app-octomap class="mb-8"></app-octomap>
    </ng-container>

    <!-- Start ROS Button -->
  <div class="flex justify-center items-center gap-4 mb-6">
    <button
    (click)="startRos()"
    class="bg-green-600 hover:bg-green-500 text-white py-2 px-6 rounded-lg"
    >
      Start ROS
    </button>
    <!-- Toggle Button for 2D/3D View -->
    <button (click)="toggleViewMode()" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-6 rounded-lg">
      Switch to {{ is3DView ? '2D' : '3D' }} View
    </button>
  </div>  
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
      <!-- Robot 1 Controls -->
      <div class="bg-gray-700 p-6 rounded-lg shadow-inner flex flex-col items-center">
        <h3 class="text-xl text-white mb-4">Robot 3 Control</h3>
        <label for="driveMode3" class="text-white mb-2">Select Drive Mode</label>
        <select
          id="driveMode3"
          [(ngModel)]="selectedDriveModes[3]"
          class="bg-gray-600 text-white py-2 px-4 rounded-lg mb-4"
        >
          <option value="Diff Drive">Diff Drive</option>
          <option value="Ackermann">Ackermann</option>
        </select>
        <p class="text-sm text-green-300 mb-4">Status: {{ robot1Status }}</p>
        <button (click)="identifyRobot(3)" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-6 rounded-lg mb-3 w-full">
          Identify Robot
        </button>
        <button (click)="startMission(3)" 
        [disabled]="robot1Status === 'Moving'"
        class="bg-green-600 hover:bg-green-500 text-white py-2 px-6 rounded-lg mb-3 w-full disabled:bg-gray-400 disabled:cursor-not-allowed">
          Start Mission
        </button>
        <button (click)="stopMission(3)" class="bg-red-600 hover:bg-red-500 text-white py-2 px-6 rounded-lg mb-3 w-full">
          Stop Mission
        </button>
        <button (click)=returnFromMission(3) class="bg-red-600 hover:bg-red-500 text-white py-2 px-4 rounded-lg mb-3 w-full">
          Return From Mission
        </button>
        <app-battery-status [robotId]="3" [mode]="mode" class="mt-auto"></app-battery-status>
      </div>

      <!-- Robot 2 Controls -->
      <div class="bg-gray-700 p-6 rounded-lg shadow-inner flex flex-col items-center">
        <h3 class="text-xl text-white mb-4">Robot 4 Control</h3>
        <label for="driveMode4" class="text-white mb-2">Select Drive Mode</label>
        <select
          id="driveMode4"
          [(ngModel)]="selectedDriveModes[4]"
          class="bg-gray-600 text-white py-2 px-4 rounded-lg mb-4"
        >
          <option value="Diff Drive">Diff Drive</option>
          <option value="Ackermann">Ackermann</option>
        </select>
        <p class="text-sm text-green-300 mb-4">Status: {{ robot2Status }}</p>
        <button (click)="identifyRobot(4)" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-6 rounded-lg mb-3 w-full">
          Identify Robot
        </button>
        <button (click)="startMission(4)" 
        [disabled]="robot2Status === 'Moving'"
        class="bg-green-600 hover:bg-green-500 text-white py-2 px-6 rounded-lg mb-3 w-full disabled:bg-gray-400 disabled:cursor-not-allowed">
          Start Mission
        </button>
        <button (click)="stopMission(4)" class="bg-red-600 hover:bg-red-500 text-white py-2 px-6 rounded-lg mb-3 w-full">
          Stop Mission
        </button>
        <button (click)=returnFromMission(4) class="bg-red-600 hover:bg-red-500 text-white py-2 px-4 rounded-lg mb-3 w-full">
          Return From Mission
        </button>
        <app-battery-status [robotId]="4" [mode]="mode" class="mt-auto"></app-battery-status>
      </div>
    </div>

    <div
  *ngIf="confirmStopMissionId !== null"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white p-6 rounded-lg shadow-lg text-center w-full max-w-md">
    <h3 class="text-xl font-bold mb-4">Arrêter Mission</h3>
    <p>Êtes-vous sûr.e de vouloir arrêter la mission pour le robot {{ confirmStopMissionId }}?</p>
    <div class="flex justify-center gap-4 mt-6">
      <button
        (click)="stopConfirmedMission()"
        class="bg-red-600 hover:bg-red-500 text-white py-2 px-4 rounded-lg"
      >
        Oui, je veux l'arrêter
      </button>
      <button
        (click)="cancelStopMission()"
        class="bg-gray-600 hover:bg-gray-500 text-white py-2 px-4 rounded-lg"
      >
        Non, annuler
      </button>
    </div>
  </div>
</div>

  </div>

  

  <!-- Logs Panel -->
  <div class="bg-gray-800 text-white shadow-lg w-full lg:w-96 p-6 lg:order-last mt-8 lg:mt-0">
    <h3 class="text-xl font-bold mb-4">Robot Logs</h3>

    <!-- Load/Hide Old Logs Button -->
    <div class="flex justify-center mb-4">
      <button (click)="toggleOldLogs()" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-6 rounded-lg">
        {{ showOldLogs ? 'Hide Old Logs' : 'Load Old Logs' }}
      </button>
    </div>

    <!-- List of Old Missions -->
    <ul class="space-y-2" *ngIf="showOldLogs">
      <li *ngFor="let mission of missions">
        <button (click)="toggleMissionLogs(mission)" class="w-full text-left bg-gray-700 p-3 rounded-lg mb-1">
          <span>{{ mission.mission }}</span>
        </button>

        <ul *ngIf="mission.expanded" class="space-y-1 pl-4">
          <li *ngFor="let log of mission.logs" class="p-2 rounded-lg bg-gray-600">
            <p>{{ log.timestamp }} - <strong>{{ log.message }}</strong> (Robot {{ log.robot }})</p>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Real-Time Logs List -->
    <h4 *ngIf="!showOldLogs" class="font-bold mb-2">Live Logs</h4>
    <ul class="space-y-2" *ngIf="!showOldLogs">
      <li *ngFor="let log of logs" [ngClass]="{'bg-gray-500': log.isOld, 'bg-gray-700': !log.isOld}" class="p-4 rounded-lg shadow-inner">
        <p>{{ log.timestamp }} - <strong>{{ log.message }}</strong> (Robot {{ log.robot }})</p>
      </li>
    </ul>
  </div>
</div>
